
.homepage-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2350px; 
    margin-bottom: 150px; 
    padding: 20px; 
    width: 100%; 
    box-sizing: border-box;
}

.PostList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    flex-grow: 0;
}
