
.homepage-container{
    color: #394726;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:1900px; 
    margin-bottom: 100px; 
    padding: 20px; 
    width: 100%; 
    box-sizing: border-box;
}

.PostList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    align-items: center;
    justify-content: center;
}

.featured-categories{
text-decoration: #394726;
    font-size: 16px;
    align-self: flex-start;
    text-align: left;
    margin-left: 13%;
    
}