.profile-layout{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: "Alfabet";
}

.User-buttons{
    display: flex;
    flex-direction: row;
    justify-content:center;
    width: 100%;
    gap: 30px;
    margin-top: 20px;

}
button{
    width: 120px;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    font-family: "Alfabet";
    background-color: #d1963a;
    color: #955621;
    border:#955621 solid 2px;
    border-radius: 10px;
    
}

.myName{
    font-size: 30px;
    color: #394726;
    
}

.confirm-alert-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
  }
  
  .confirm-alert {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    max-width: 400px;
    
  }
  
  .react-confirm-alert-body h1 {
    font-size: 18px;
    text-align: center;
  }

  .react-confirm-alert-body{
    text-align: center;
  }

  .react-confirm-alert-button-group{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    cursor: pointer;
 
  }

  .button-confirm{
    padding: 10px;
    width: 100px;
  }
  

  