#root {
  margin-top: 10%;
  text-align: center;
  color: #394726;
  width: 100%;
}

.App{
  margin-top: 20px;
  width: 100%;
  text-align: center;
  justify-content: center;

}
@font-face {
  font-family: "Alfabet";
  src: url('fontspring-demo-alfabet-thin-webfont.woff2') format('woff2'),
       url('fontspring-demo-alfabet-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
