#root {
  margin-left: 10%;
  margin-top: 0%;
  text-align: center;
  margin-right: 10%;
  color: #394726;
}

@font-face {
  font-family: 'alfabetthin';
  src: url('fontspring-demo-alfabet-thin-webfont.woff2') format('woff2'),
       url('fontspring-demo-alfabet-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
